:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --additional-color: #FFFFFF;
    --selective-color: #212121;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --footer-bg-color: #2F303A;
    --button-portfolio-bg-color: #F5F4FA;
    --primary-br-color: #ffffff;
    --secondary-bg-color: #E5E5E5;
    
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--primary-text-color);
}

ul{
    list-style: none;
}

.logo {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2px;
    color: var(--title-text-color);
    text-decoration: none;
}

span {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

/* site nav */

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--selective-color);
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--additional-color);
}

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--selective-color);
}

.feature-list .text{
font-weight: 400;
}

.work-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
}

.junior-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
}

.person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--selective-color);
}

.profession {
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.footer {
    background: var(--footer-bg-color);
}

.logo-two {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--additional-color);
    text-decoration: none;
}

span {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.address-list {
    font-style: normal;
    line-height: 1.71;
    color: var(--additional-color);
}

.separator .item {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-text-color);
    text-decoration: none;
}
.separator .item:hover,
.separator .item:focus {
    color:var(--accent-color);
}

/* Button */

.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color : var(--button-color);
    background-color: var(--button-bg-color);
}

      /* Портфолио */

.button-portfolio {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--selective-color);
    background-color: var(--button-portfolio-bg-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--additional-color);
    background-color: var(--accent-color);
}

.point {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--selective-color);
}

.article {
    font-size: 16px;
    line-height: 1.9; 
    color: var(--primary-text-color);
}